<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>用户注册</title>
    <!-- Import style -->
    <link rel="stylesheet" href="/css/index.css" />
    <!-- Import Vue 3 -->
    <script src="/js/vue.global.js"></script>
    <!-- Import component library -->
    <script src="/js/index.full.js"></script>
    <script src="/js/axios.min.js"></script>
    <style>
        body {
            margin: 0;
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
            background-color: #f4f4f4;
        }
    </style>
</head>
<body>

<div id="registerApp" style="width: 50%; max-width: 520px;">
    <el-container>
        <el-main class="register-container">
            <el-card>
                <h2 class="title">用户注册</h2>
                <el-form :model="registerForm" :rules="registerRules" ref="registerForm" label-position="top">
                    <el-form-item label="用户名" prop="username">
                        <el-input v-model="registerForm.username" autocomplete="off" clearable></el-input>
                    </el-form-item>
                    <el-form-item label="密码" prop="password">
                        <el-input type="password" v-model="registerForm.password" autocomplete="off" clearable></el-input>
                    </el-form-item>
                    <el-form-item label="验证码" prop="captcha" class="captcha-container">
                        <el-input v-model="registerForm.captcha" autocomplete="off" style="width: 75%;" clearable></el-input>
                        <el-image class="captcha-image" :src="captchaImageUrl" style="width: 25%; height: 32px;" @click="refreshCaptcha"></el-image>
                    </el-form-item>
                    <el-form-item>
                        <el-button type="primary" @click="register">注册</el-button>
                        <a href="/login" style="margin-left: 2rem;">去登录</a>
                    </el-form-item>
                </el-form>
            </el-card>
        </el-main>
    </el-container>
</div>

<script>
    const { ElMessage } = ElementPlus;
    const app = Vue.createApp({
        data() {
            return {
                registerForm: {
                    username: '',
                    password: '',
                    captcha: ''
                },
                registerRules: {
                    username: [{ required: true, message: '请输入用户名', trigger: 'blur' }],
                    password: [{ required: true, message: '请输入密码', trigger: 'blur' }],
                    captcha: [{ required: true, message: '请输入验证码', trigger: 'blur' }]
                },
                captchaImageUrl: '/captcha'
            };
        },
        methods: {
            refreshCaptcha() {
                this.captchaImageUrl = `/captcha?t=${Math.random()}`;
            },
            register() {
                // 开始请求
                axios({
                    method: 'post',
                    url: `/register`,
                    data: this.registerForm,
                }).then(res => {
                    if (res.data.code == 200) {
                        ElMessage({
                            message: '注册成功',
                            type: 'success',
                            duration: 1500,
                            onClose: () => {
                                // 跳转到登录
                                window.location.href = "/login";
                            }
                        })
                        console.log(res.data);

                    } else {
                        ElMessage({
                            message: '注册失败:' + res.data.message,
                            type: 'error',
                        })
                        // 刷新验证码
                        this.refreshCaptcha();
                    }
                });

                console.log('注册信息:', this.registerForm);
            }
        }
    });

    // 注册 Element Plus 组件
    app.use(ElementPlus);

    // 创建挂载点并挂载 Vue 实例
    app.mount('#registerApp');
</script>

</body>
</html>
